<h3 class="ui header">{{t "forms.i-i-s-test17-товары-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодТовара
      class=(if (v-get validationModel "кодТовара" "isInvalid") "error")
      label=(t "forms.i-i-s-test17-товары-e.кодТовара-caption")
      data-test-i-i-s-test17-товары-e-кодТовара=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодТовара" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.ценаЗаЕд
      class=(if (v-get validationModel "ценаЗаЕд" "isInvalid") "error")
      label=(t "forms.i-i-s-test17-товары-e.ценаЗаЕд-caption")
      data-test-i-i-s-test17-товары-e-ценаЗаЕд=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "ценаЗаЕд" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.название
      class=(if (v-get validationModel "название" "isInvalid") "error")
      label=(t "forms.i-i-s-test17-товары-e.название-caption")
      data-test-i-i-s-test17-товары-e-название=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "название" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test17-товары-e.вНаличии-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.вНаличии
      relationName="вНаличии"
      projection=""
      title=(t "forms.i-i-s-test17-товары-e.вНаличии-caption")
      readonly=readonly
      componentName="вНаличииLookup"
      class=(if (v-get validationModel "вНаличии" "isInvalid") "error")
      data-test-i-i-s-test17-товары-e-вНаличии=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "вНаличии" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.вНаличии.количество
      class=(if (v-get validationModel.вНаличии "количество" "isInvalid") "error")
      label=(t "forms.i-i-s-test17-товары-e.вНаличии.количество-caption")
      data-test-i-i-s-test17-товары-e-вНаличии-количество=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.вНаличии "количество" "message")}}
  </div>
</form>
