<h3 class="ui header">{{t "forms.i-i-s-test17-оповещения-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.описание
      class=(if (v-get validationModel "описание" "isInvalid") "error")
      label=(t "forms.i-i-s-test17-оповещения-e.описание-caption")
      data-test-i-i-s-test17-оповещения-e-описание=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "описание" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test17-оповещения-e.местоВыдачи-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.местоВыдачи
      displayAttributeName="адрес"
      autocomplete=true
      relationName="местоВыдачи"
      projection="МестоВыдачиL"
      title=(t "forms.i-i-s-test17-оповещения-e.местоВыдачи-caption")
      readonly=readonly
      componentName="местоВыдачиLookup"
      class=(if (v-get validationModel "местоВыдачи" "isInvalid") "error")
      data-test-i-i-s-test17-оповещения-e-местоВыдачи=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "местоВыдачи" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test17-оповещения-e.заказы-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.заказы
      displayAttributeName="кодЗаказа"
      autocomplete=true
      relationName="заказы"
      projection="ЗаказыL"
      title=(t "forms.i-i-s-test17-оповещения-e.заказы-caption")
      readonly=readonly
      componentName="заказыLookup"
      class=(if (v-get validationModel "заказы" "isInvalid") "error")
      data-test-i-i-s-test17-оповещения-e-заказы=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "заказы" "message")}}
  </div>
</form>
