<h3 class="ui header">{{t "forms.i-i-s-test17-заказы-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодЗаказа
      class=(if (v-get validationModel "кодЗаказа" "isInvalid") "error")
      label=(t "forms.i-i-s-test17-заказы-e.кодЗаказа-caption")
      data-test-i-i-s-test17-заказы-e-кодЗаказа=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодЗаказа" "message")}}
  </div>
  <div class="field" data-test-i-i-s-test17-заказы-e-статус="true">
    <label>{{t "forms.i-i-s-test17-заказы-e.статус-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-test17-статусы")
      value=model.статус
      class=(if (v-get validationModel "статус" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "статус" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test17-заказы-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-test17-заказы-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test17-заказы-e.контрагент-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.контрагент
      displayAttributeName="фамилия"
      autocomplete=true
      relationName="контрагент"
      projection="КонтрагентL"
      title=(t "forms.i-i-s-test17-заказы-e.контрагент-caption")
      readonly=readonly
      componentName="контрагентLookup"
      class=(if (v-get validationModel "контрагент" "isInvalid") "error")
      data-test-i-i-s-test17-заказы-e-контрагент=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "контрагент" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test17-заказы-e.продавец-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.продавец
      displayAttributeName="фамилия"
      autocomplete=true
      relationName="продавец"
      projection="ПродавецL"
      title=(t "forms.i-i-s-test17-заказы-e.продавец-caption")
      readonly=readonly
      componentName="продавецLookup"
      class=(if (v-get validationModel "продавец" "isInvalid") "error")
      data-test-i-i-s-test17-заказы-e-продавец=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "продавец" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test17-заказы-e.составЗаказа-caption"}}</label>
    {{flexberry-groupedit
      componentName="составЗаказаGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.составЗаказа
      content=model.составЗаказа
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "составЗаказа" "isInvalid") "error")
      data-test-i-i-s-test17-заказы-e-составЗаказа=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "составЗаказа" "message")}}
  </div>
</form>
